<html>
<head>
    <title>Your Website Title</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:type"          content="website" />
    <meta property="og:title"         th:content="${title}" />
    <meta property="og:description"   th:content="${description}" />
    <meta property="og:image"         th:content="${imageUrl}" />
    <meta property="og:image:width"   th:content="${imageWidth}"/>
    <meta property="og:image:height"  th:content="${imageHeight}"/>
</head>

<body>

<img th:src="${imageUrl}" alt="Paris" th:height="${imageHeight}" th:width="${imageWidth}"/>

</body>
</html>