<html>
<head>
    <title>Your Website Title</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           th:content="${currentUrl}" />
    <meta property="og:type"          content="place" />
    <meta property="og:title"         th:content="${title}" />
    <meta property="og:description"   th:content="${description}" />
    <meta property="og:image"         th:content="${imageUrl}" />
    <meta property="og:place:location:latitude"  content="48.856614" />
    <meta property="og:place:location:longitude" content="2.3522219" />
    <meta property="og:image:width" content="450"/>
    <meta property="og:image:height" content="298"/>
    <meta property="og:latitude" content="48.856614"/>
    <meta property="og:longitude" content="2.3522219"/>
</head>

<body>

<img th:src="${imageUrl}" alt="Paris" style="width:450px;height:298px;"/>

</body>
</html>