<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<contextName>csv</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--appender name="ACCESS" class="ch.qos.logback.core.FileAppender">
		<file>target/access.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n</pattern>
		</encoder>
	</appender-->

	<!--logger name="ACCESS-LOGGER" level="INFO">
		<appender-ref ref="ACCESS" />
	</logger-->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
